<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-css">
  <link href="css/primaryCSS.css" rel="stylesheet" type="text/css">
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="jquery-3.4.1.min.js"></script>
  <script src="bootstrap.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App</title>
  <style>
		body { margin: 0; }
		canvas { width: 100%; height: 100% }
	</style>
</head>

<body>

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="container">

      <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- ADD MAIN ADDRESS REF AND HAVE LOCAL LINK PHOTO -->
            <a class="navbar-brand" href="">
                <img src="ula.png" alt="LOGO">
            </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li> <a href="/">Inspection Viewer</a> </li>
          </ul>
          <ul class="nav navbar-right top-nav">
            <form class="form-inline">
              <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search" aria-label="Search">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>

          </ul>
        </div>
  </nav>
  <div class="col-xs-6 col-sm-1 sidebar-offcanvas" id="sidebarLeft" role="navigation">

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="myBtnContainer" class="nav navbar-nav side-nav">
          <!-- List available filters-->
          <h5> Filters: </h5>
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('flags')"> Flags Detected</button>
          <button class="btn" onclick="filterSelection('noflags')"> No Flags Detected </button>
        </ul>

    </div>

      <!--/.well -->
  </div>
  <div class="page-wrapper" style="margin-top: 50px;margin-left: 150px;">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Day of Inspection</th>
          <th>Flags Detected</th>
          <th>Cables Inspected</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% for(var i=0; i < results.length; i++) { 
            var date = results[i].substr(0,10);
        %>

        <tr  >
          <td>
            <a href="/inspection?id=<%=results[i]%>&sid=0"><%= date %></a>
          </td>
          <td>
            <a href="/inspection?id=<%=results[i]%>&sid=0"><%= counts[i]%></a>
          </td>
          <td>
            <a href="/inspection?id=<%=results[i]%>&sid=0"><%= cableCounts[i]%></a>
          </td>
        </tr>
        <% }; %>
      </tbody>

      
    </table>
  </div>

    <hr>

    <footer>
        <p>Faber 2020</p>
    </footer>

</div>

<script>
  // Filter data based on search input
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  // Filters 
  filterSelection("all")
  function filterSelection(input) {
    var table, tr, td, i;
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
 
      if (td) {
        // Display all rows if the filter is "all"
        if (input == "all"){
          tr[i].style.display = "";
        }
        // If flag filter
        else if (input == "flags") {
          // Display data with a flag value of greater than 0
          if (parseInt(td.innerText, 10) > 0)
            tr[i].style.display = "";
          else 
            tr[i].style.display = "none";
        } 
        else if (input == "noflags") {
          // Display data with no flag values of greater than 0
          if (parseInt(td.innerText, 10) > 0)
            tr[i].style.display = "none";
          else 
            tr[i].style.display = "";
        }
      }       
    }
  }


  // Add active class to the current control button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("btn active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
  </script>

</body>
</html>